* {
    font-family: 'Kiwi Maru', serif;
}

.d-none {
    display: none;
}

body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background: #fcfcfc;
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.hero-main-title {
    font-size: 3.6rem;
}

header nav {
    /* box-shadow: 0px .25rem .25rem rgba(0, 0, 0, 0.1); */
    padding: 20px 25px;
    position: relative;
    background: rgba( 255, 255, 255, 0.25 );
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    backdrop-filter: blur( 4.0px );
    -webkit-backdrop-filter: blur( 4.0px );
    border-radius: 10px;
}

header nav ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 20px;
    align-items: center;
}

header nav ul li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

header nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
}

.__card {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2.0px );
    -webkit-backdrop-filter: blur( 2.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.hero {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    position: relative;
}

.nav-top {
    position: fixed;
    z-index: 1000;
}


.hero h1 {
    font-weight: bold;
}

.background-hero {
    position: absolute;
    z-index: -1;
    background-image: url('assets/image/backgroundmaincomp-min.jpg');
    background-size: cover;
    background-position: center;
    backdrop-filter: blur( 2.0px );
    -webkit-backdrop-filter: blur( 2.0px );
    border-radius: 10px;
    /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */

}

.social-media-btn  {
    position: fixed;
    bottom: 18px;
    left: 31px;
}

a {
    color: #0055af;
}

.back-to-top {
    position: fixed;
    bottom: 18px;
    right: 31px;
}

.sc {
    padding: 30px 0px;
}

.sc h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 24px;
    display: inline-block;
    position: relative;
}

.sc p {
    line-height: 44px;
    font-size: 22px;
}

.sc a {
    color: #0055af;
}

.sc h2::after {
    position: absolute;
    content: url('./assets/image/separator.png');
    right: -80px;
    top: -8px;
}

.sc .main_text h2::after {
    content: "";
}

.sc ul li {
    margin-bottom: 30px;
}

.sc ul li label {
    margin: 0px;
    margin-bottom: 8px;
    font-size: 14px;
}

.sc ul li h3 {
    font-size: 22px;
    /* margin: 0px;  */
    font-weight: bold;
}
.sc ul li p {
    margin: 0px;
    font-size: 18px;
    line-height: 32px;
}

.social-media-link-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
    position: relative;
}

.social-media-link-list label {
    cursor: pointer;
    margin: 0px;
    color: #575757;
}

.social-media-link-list label:hover,
.social-media-link-list label:active {
    color: #505050;
} 

.social-media-link-list input {
    display: none;
}

.social-media-link-list input:checked ~ ul {
    height: 20.5rem;
    transition: height .3s ease-in-out;
}

.social-media-link-list ul {
    overflow: hidden;
    list-style: none;
    margin: 0px;
    padding: 0px;
    height: 0px;
    transition: height 0.1s ease-in-out;
}

.social-media-link-list ul li {
    margin-bottom: 23px;
}

.social-media-link-list ul li a.active {
    font-weight: bold;
}

.gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.gallery .gallery-item {
    width: calc((100% / 3) - 13.5px);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.gallery .gallery-item img {
    transition: 0.1s ease-in-out;
}

.gallery .gallery-item:hover img {
    transform: scale(1.3);
    transition: 0.3s ease-in-out;
}


footer {
    padding-top: 18px;
    padding-bottom: 18px;
    margin-top: 40px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: flex-start;
    justify-content: center;
}

.footer-text {
    font-size: 18px;
}

.footer-link ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.m-back-to-top {
    display: none;
}

.m-back-to-top a {
    color: #0055af;
}


#main_bg{
    height: 400px;
    position: relative;
    -webkit-box-shadow: 0px 0px 29px -18px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 0px 29px -18px rgba(0,0,0,0.14);
    box-shadow: 0px 0px 29px -18px rgba(0,0,0,0.14);
    /* background: url("assets/image/backgroundcomp.jpg"); */
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main_bg .main_text {
    z-index: 100;
    color: #000000;
    background: rgba( 255, 255, 255, 0.18 );
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(1px);
    padding: 20px 30px;
}

#main_bg .main_text h1 {
    font-size: 2rem;
    color: #42595d;
    font-weight: bold;
}

#main_bg .main_text h2 {
    font-size: 1.4rem;
    margin-top: 10px;
    color: #42595d;
}

#shoe-01, #shoe-02{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

#shoe-01{
    background: url("assets/image/standing-14.png");
}

#shoe-02{
    background: url("assets/image/standing-5-mirrored.png");
}

@media screen and (max-width: 1123px) {
    .social-media-btn {
        display: none;
    }
}

@media screen and (max-width: 768px) {

    .navbar {
        background: #FFFFFF;
    }

    .social-media-btn, .back-to-top {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .hero {
        overflow-x: hidden;
    }

    .background-hero {
        background-image: none;
    }

    #main_bg {
        background-image: none;
    }

    #main_bg .main_text {
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
    }

    .m-back-to-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 16px;
        padding-bottom: 30px;
    }

    .hero .hero-text {
        padding: 0px 30px;
        color: #000000;
        /* text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5); */
    }

    .hero-main-title {
        font-size: 2.2rem;
    }

    footer {
        display: none;
    }

    .sc h2 {
        font-size: 28px;
    }

    .sc ul h3 {
        line-height: normal;
    }

    .sc h2::after {
        left: 6px;
        top: 16px;
    }

    .gallery .gallery-item {
        width: calc((100% / 2) - 13.5px);
    }

    #shoe-01 {
        display: none;
    }
}